#dinopassPopup {
	width: 360px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 16px;
    background-image: linear-gradient(#48dc52, #ffffff);
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 16px 0;
    #generatedMessage {
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        text-align: center;	
        font-weight: bold;
        color: #fff;
    }
}

.pass-container {
    position: relative;
    #resultPassword {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        color: #000;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
        padding: 20px 16px;
        border: 2px solid #37a330;
        border-radius: 14px;
        &:focus {
            outline: 0;
        }
    }
    .copy-btn {
	    cursor: pointer;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        appearance: none;
        border: 0;
        background: none;
        font-size: 0;
        width: 24px;
        height: 24px;
        opacity: 0.75;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 115.77 122.88' style='enable-background:new 0 0 115.77 122.88' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z'/%3E%3C/g%3E%3C/svg%3E");    
        background-repeat: no-repeat;
    }
}

.btns-container {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 40px;
}
.generate-btn {
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(#edaf1b, #ed761b);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 12px 16px;
	border: 2px solid #fff;
	border-radius: 14px;
    width: 48%;
    outline: 0;
	&:hover,
	&:focus {
		background-image: linear-gradient(#ed761b, #edaf1b);
	}
}

footer {
    text-align: center;
    margin: 20px 0;
    a {
        color: #000;
    }
}